@font-face {
    font-family:android;
    src: url(fontes/idroid.otf) format(opentype);
}

body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #96E48F;
}
header{
    background-image: linear-gradient(to bottom, #53DC48, #266521);
    color: white;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.596);
}
header>h1{
    margin: 0;
    text-align: center;
    padding: 30px;
}
header>h2{
    text-align: center;
    padding: 30px;
    font-size: 16px;
    margin: 0px 10px;
}
nav{
    padding-bottom: 10px;
}
nav>a{
    color: white;
    text-decoration:none;
    font-weight: bold;
    margin-left: 30px;
}

main{
    background-color: white;
    margin: 0px 132px;
    box-shadow: 0px 8px 12px 1px rgba(0, 0, 0, 0.418);
    border-radius: 0px 0px 15px 15px;
}
#historia-androide{
    margin-top: 0;
    font-weight: bold;
    color: #266521;
    font-family: android;
    font-size: 2em;
}
section#conteudo{
    padding: 50px;
    margin: auto;
}
#destaque{
    color:#368F2F;
    font-weight: bold;
}

#links-conteudo{
    text-decoration: none;
    color: #368F2F;
    font-weight: bold;
}
#links-conteudo:visited{
    color: limegreen;
}
#conteudo>article>#subtitulo{
    color: #266521;
    font-family: android;
    background-image: linear-gradient(to right, rgba(144, 238, 144, 0.61), rgba(255, 255, 255, 0));
    padding: 5px;
}
article>p{
    text-indent: 30px;
}
section#image{
    display: flex;
    justify-content: center;
}
#video-android{
    background-color: #266521;
}
#video{
    display: flex;
    justify-content: center;
    padding: 20px;
}
section#aprender-mais{
    margin: 20px;
}
article#aprender-mais{
    background-color:#96E48F;
    margin: 0PX 30PX 30px 30px;
    padding: 10px;
    border-radius: 0PX 0PX 10px 10PX;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.377);
}
section#aprender-mais>h2{
    background-color:#266521;
    color: white;
    margin: 0px 30px;
    border-radius: 10px 10px 0px 0px;
    padding: 20px;
}
ul{
    margin: 10px;
    color: #266521;
    font-weight: bold;
    text-decoration: underline
     ;
}
footer{
    text-align: center;
    background-color: #266521;
}
footer>p{
    margin: 0;
    padding: 10px;
    color: white;
}